.homeBannerSection{
    position: relative;
    padding: 5px 125px;
    overflow: hidden;
}


.swiper-button-next, .swiper-button-prev{
  color: #000;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  
}

