.country_drop_down{
    width: 180px;
    height: 60px;
    min-width: 150px;
    text-align: left;
    justify-content: flex-start;
    border: 1px solid rgba(0,0,0,0.2) !important;
    border-radius: 2px;
    padding: 10px 10px !important;
}

.country_drop_down .label{
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(0,0,0,0.4) !important;
    /* line-height: 16px; */
}

.country_drop_down .cname{
    font-size: 14px;
    text-transform: capitalize;
    color: #0c2c53;
    font-weight: 700;
    /* line-height: 16px; */
}

.country_drop_down .angle{
    color: #0c2c53;
}

.country_drop_down span.ml-auto svg{
    opacity: 0.7;
}




/* country css */
.locationModel .MuiPaper-elevation{
    padding: 25px;
    position: relative;
}

.locationModel .locationdesc{
    color: #aeb3b8;
}

.locationModel .countryList{
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.locationModel .countryList li{
    width: 100%;
    list-style: none;
}

.locationModel .countryList li button{
    width: 100%;
    text-transform: capitalize;
    color: black;
    justify-content: flex-start;
    padding: 15px 20px;
}

.locationModel .close_{
    position: absolute;
    right: 25px;
    top: 18px;
    color: #000;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.locationModel .close_ svg{
    font-size: 20px;
}